@font-face {
  font-family: 'LocomotiveFontAwesome';
  src: url("/assets/font-awesome/fontawesome-webfont-c6145e8d45b307f69e06237b028ee450.eot?v=4_4_0");
  src: url("/assets/font-awesome/fontawesome-webfont-c6145e8d45b307f69e06237b028ee450.eot?#iefix&v=4_4_0") format("embedded-opentype"), url("/assets/font-awesome/fontawesome-webfont-b872926be5285920d081a4a8b8872f26.woff2?v=4_4_0") format("woff2"), url("/assets/font-awesome/fontawesome-webfont-241265f190d3a79827f01b83e80dafd9.woff?v=4_4_0") format("woff"), url("/assets/font-awesome/fontawesome-webfont-b1ff6ae568565f90bcd2813fb96c3a07.ttf?v=4_4_0") format("truetype"), url("/assets/font-awesome/fontawesome-webfont-9645cb4b9b93335bbd184c19dbd63e11.svg?v=4_4_0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 23, /Users/didier/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/bundler/gems/engine-a122b8c9d8c3/app/assets/stylesheets/locomotive/live_editing_iframe.scss */
#locomotive-highlighter-bar, #locomotive-highlighter-actions {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10000;
}

/* line 31, /Users/didier/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/bundler/gems/engine-a122b8c9d8c3/app/assets/stylesheets/locomotive/live_editing_iframe.scss */
#locomotive-highlighter-bar {
  background-color: yellow;
  width: 5px;
  min-height: 10px;
}

/* line 39, /Users/didier/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/bundler/gems/engine-a122b8c9d8c3/app/assets/stylesheets/locomotive/live_editing_iframe.scss */
#locomotive-highlighter-actions > a {
  background: #1c77c3;
  background-image: none;
  border: none;
  border-bottom: 2px solid #165c96;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  height: 30px;
  line-height: 18px;
  margin: 0 10px 0 0px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  vertical-align: middle;
  white-space: nowrap;
}
/* line 61, /Users/didier/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/bundler/gems/engine-a122b8c9d8c3/app/assets/stylesheets/locomotive/live_editing_iframe.scss */
#locomotive-highlighter-actions > a:hover {
  background-color: #165c96;
  border-color: #0e3b61;
}
/* line 66, /Users/didier/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/bundler/gems/engine-a122b8c9d8c3/app/assets/stylesheets/locomotive/live_editing_iframe.scss */
#locomotive-highlighter-actions > a i.locomotive-fa {
  display: inline-block;
  font: normal normal normal 14px/1 LocomotiveFontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
}
/* line 76, /Users/didier/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/bundler/gems/engine-a122b8c9d8c3/app/assets/stylesheets/locomotive/live_editing_iframe.scss */
#locomotive-highlighter-actions > a i.locomotive-fa.locomotive-fa-pencil:before {
  content: "\f040";
}
